@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* ADD this for when we add padding the elements/content are not pushed off the page */
html {
    box-sizing: border-box;
}

/* margin is zero on all for sides
min-height 100vh means we want the view port to be stretched the whole height of the window */
body {
margin: 0;
font-family: 'Bebas Neue', sans-serif;
background: whitesmoke;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 40px;
    letter-spacing: 5px;

}

/* Loader */
.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: rgba(255, 255, 255, 0.8); */
}

.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* Image Container */
.image-container {
    margin: 10px 30%
}

.image-container img {
    margin-top: 5px;
    width: 100%;
}

/* Media Query: Larger Smartphone */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 20px 
    }

    .image-container {
        margin: 10px;
    }
}